body {
  font-family: Helvetica;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.page-blog {
  background-color: rgb(204, 204, 204);
}

.page-index {
  background-color: rgb(255, 255, 255);
}

.image {
  display: block;
  position: relative;
  float: left;
  height: auto;
  overflow: hidden;
}

.text {
  position: relative;
  font-size: 1em;
}

.text-1 p,
.text-18 p,
.text-19 p,
.text-22 p,
.text-24 p,
.text-25 p,
.text-26 p,
.text-27 p,
.text-28 p,
.text-29 p,
.text-36 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  font-size: 1em;
  text-align: center;
}

._input {
  display: block;
  position: relative;
  float: left;
  width: 27.5%;
  margin-left: 17.08073%;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

.element-1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 65;
  width: 100%;
  height: 63px;
  background-color: rgb(0, 0, 0);
}

.element-10 {
  position: relative;
  float: left;
  z-index: 20;
  width: 50%;
  height: 568px;
  margin-top: 7px;
  background-image: url('../images/businesswoman-1312421_640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.element-11 {
  position: relative;
  float: left;
  z-index: 21;
  width: 50%;
  height: 568px;
  margin-top: 7px;
  background-color: rgb(255, 255, 255);
}

.element-12 {
  position: relative;
  float: left;
  z-index: 24;
  width: 100%;
  height: 650px;
  margin-top: 53px;
  background-color: rgba(77, 77, 77, 0.05);
}

.element-13 {
  position: relative;
  float: left;
  z-index: 25;
  width: 23.5%;
  height: 500px;
  margin-top: -559px;
  margin-left: 6.5%;
  background-color: rgb(253, 110, 110);
}

.element-14 {
  position: relative;
  float: left;
  z-index: 26;
  width: 23.5%;
  height: 505px;
  margin-top: -559px;
  margin-left: 40.5%;
  background-color: rgb(204, 204, 204);
}

.element-15 {
  position: relative;
  float: left;
  z-index: 27;
  width: 23.5%;
  height: 505px;
  margin-top: -559px;
  margin-left: 70%;
  background-color: rgb(158, 185, 250);
}

.element-16 {
  position: relative;
  float: left;
  z-index: 40;
  width: 100%;
  height: 1164px;
  background-color: rgb(255, 255, 255);
}

.element-17 {
  position: relative;
  float: left;
  z-index: 41;
  width: 24.5%;
  height: 465px;
  margin-top: -1014px;
  margin-left: 7.5%;
  background-image: url('../images/designer-1125324_640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.element-18 {
  position: relative;
  float: left;
  z-index: 42;
  width: 24.5%;
  height: 464px;
  margin-top: -1014px;
  margin-left: 36.66276%;
  background-image: url('../images/woman-1254454_640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.element-19 {
  position: relative;
  float: left;
  z-index: 43;
  width: 24.5%;
  height: 463px;
  margin-top: -1014px;
  margin-left: 68%;
  background-image: url('../images/businessman-411487_640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.element-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 7;
  width: 22.25%;
  height: 224px;
  margin-top: 54px;
  margin-left: 6.5%;
  background-image: url('../images/law-1063249_640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.element-20 {
  position: relative;
  float: left;
  z-index: 0;
  width: 100%;
  height: 1085px;
  background-color: rgb(255, 255, 255);
}

.element-21 {
  position: relative;
  float: left;
  z-index: 51;
  width: 100%;
  height: 779px;
  background-color: rgb(0, 0, 0);
}

.element-22 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 63px;
  background-color: rgb(0, 0, 0);
}

.element-23 {
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 32.2333333333%;
  height: 289px;
  margin-top: -1021px;
  margin-left: 4.14974%;
  background-image: url('../images/mountain-1542114_640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.element-24 {
  position: relative;
  float: left;
  z-index: 1;
  width: 26.2333333333%;
  height: 384px;
  margin-top: -1021px;
  margin-left: 38.16667%;
  background-image: url('../images/party-1540721_640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.element-25 {
  position: relative;
  float: left;
  z-index: 3;
  width: 58.6666666666%;
  height: 358px;
  margin-top: -544px;
  margin-left: 4.16667%;
  background-image: url('../images/edinburgh-1541103_640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.element-26 {
  position: relative;
  float: left;
  z-index: 2;
  width: 29.7166666666%;
  height: 534px;
  margin-top: -1021px;
  margin-left: 68.04688%;
  background-image: url('../images/sunflower-1539255_640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.element-3 {
  position: relative;
  float: left;
  z-index: 6;
  width: 22.25%;
  height: 224px;
  margin-top: 54px;
  margin-left: 10.16146%;
  background-image: url('../images/rsz_legal-1302034_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.element-4 {
  position: relative;
  float: left;
  z-index: 8;
  width: 22.25%;
  height: 224px;
  margin-top: 54px;
  margin-left: 10.08594%;
  background-image: url('../images/lawyers-1000803_640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
  overflow: visible;
}

.element-4:hover {
  -webkit-transform: width 2s;
  -moz-transform: width 2s;
  -o-transform: width 2s;
  -ms-transform: width 2s;
  transform: width 2s;
  -webkit-transition: ease-in;
  -moz-transition: ease-in;
  -o-transition: ease-in;
  -ms-transition: ease-in;
  transition: ease-in;
}

.element-5 {
  position: relative;
  float: left;
  clear: both;
  z-index: 10;
  width: 100%;
  height: 581px;
  margin-top: 47px;
  margin-left: -0.5%;
  background-color: rgb(255, 255, 255);
}

.element-6 {
  position: relative;
  float: left;
  z-index: 11;
  width: 50%;
  height: 568px;
  margin-top: -491px;
  background-image: url('../images/professional-1227619_640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.element-7 {
  position: relative;
  float: left;
  z-index: 13;
  width: 50%;
  height: 568px;
  margin-top: -491px;
  background-color: rgb(255, 255, 255);
}

.element-8 {
  position: relative;
  float: left;
  z-index: 16;
  width: 50%;
  height: 568px;
  margin-left: 0.58073%;
  background-color: rgb(255, 255, 255);
}

.element-9 {
  position: relative;
  float: left;
  z-index: 19;
  width: 50%;
  height: 568px;
  margin-top: -568px;
  margin-left: 50%;
  background-image: url('../images/business-man-1385050_640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.image-1 {
  z-index: 0;
  width: 100%;
}

.image-2 {
  z-index: 52;
  width: 125px;
  margin-top: -606px;
  margin-left: 6.5%;
}

.image-3 {
  z-index: 53;
  width: 126px;
  margin-top: -606px;
  margin-left: 32%;
}

.image-4 {
  z-index: 54;
  width: 125px;
  margin-top: -606px;
  margin-left: 57.5%;
}

.image-5 {
  z-index: 55;
  width: 126px;
  margin-top: -606px;
  margin-left: 83%;
}

.text-1 {
  float: left;
  clear: both;
  z-index: 1;
  width: 25.5%;
  min-height: 157px;
  margin-top: -356px;
  margin-left: 6.5%;
  color: rgb(0, 0, 0);
}

.text-10 {
  float: left;
  z-index: 18;
  width: 27.5%;
  min-height: 283px;
  margin-top: -463px;
  margin-left: 8.08073%;
  color: rgb(0, 0, 0);
}

.text-11 {
  float: left;
  clear: both;
  z-index: 22;
  width: 19%;
  margin-top: -523px;
  margin-left: 57.5%;
  color: rgb(0, 0, 0);
}

.text-12 {
  float: left;
  z-index: 23;
  width: 27.5%;
  min-height: 283px;
  margin-top: -463px;
  margin-left: 57.5%;
  color: rgb(0, 0, 0);
}

.text-13 {
  float: left;
  clear: both;
  z-index: 66;
  width: 8.5%;
  min-height: 34px;
  margin-top: -650px;
  margin-left: 49%;
  color: rgb(0, 0, 0);
}

.text-14 {
  float: left;
  z-index: 28;
  width: 23.5%;
  min-height: 100px;
  margin-top: -559px;
  margin-left: 6.5%;
  background-color: rgb(207, 3, 3);
  color: rgb(0, 0, 0);
}

.text-15 {
  float: left;
  z-index: 33;
  width: 23.5%;
  min-height: 100px;
  margin-top: -559px;
  margin-left: 40.5%;
  background-color: rgb(16, 181, 40);
  color: rgb(0, 0, 0);
}

.text-16 {
  float: left;
  z-index: 30;
  width: 15%;
  margin-top: -441px;
  margin-left: 13.66276%;
  color: rgb(0, 0, 0);
}

.text-17 {
  float: left;
  z-index: 31;
  width: 15%;
  margin-top: -441px;
  margin-left: 47.75%;
  color: rgb(0, 0, 0);
}

.text-18 {
  float: left;
  z-index: 34;
  width: 18%;
  min-height: 181px;
  margin-top: -386px;
  margin-left: 8.5%;
  color: rgb(0, 0, 0);
}

.text-19 {
  float: left;
  z-index: 35;
  width: 18%;
  min-height: 181px;
  margin-top: -386px;
  margin-left: 42.5%;
  color: rgb(0, 0, 0);
}

.text-2 {
  float: left;
  z-index: 3;
  width: 38.5%;
  min-height: 64px;
  margin-top: 113px;
  margin-left: 41%;
  color: rgb(0, 0, 0);
}

.text-20 {
  float: left;
  z-index: 29;
  width: 23.5%;
  min-height: 100px;
  margin-top: -559px;
  margin-left: 70%;
  background-color: rgb(61, 115, 245);
  color: rgb(0, 0, 0);
}

.text-21 {
  float: left;
  z-index: 32;
  width: 15%;
  margin-top: -441px;
  margin-left: 78.5%;
  color: rgb(0, 0, 0);
}

.text-22 {
  float: left;
  z-index: 36;
  width: 18%;
  min-height: 181px;
  margin-top: -386px;
  margin-left: 72.16667%;
  color: rgb(0, 0, 0);
}

.text-23 {
  float: left;
  clear: both;
  z-index: 47;
  width: 19%;
  min-height: 60px;
  margin-top: -1103px;
  margin-left: 47%;
  color: rgb(0, 0, 0);
}

.text-24 {
  float: left;
  z-index: 49;
  width: 24.5%;
  min-height: 56px;
  margin-top: -549px;
  margin-left: 7.5%;
  color: rgb(0, 0, 0);
}

.text-25 {
  float: left;
  z-index: 48;
  width: 24.5%;
  min-height: 56px;
  margin-top: -549px;
  margin-left: 36.66276%;
  color: rgb(0, 0, 0);
}

.text-26 {
  float: left;
  z-index: 50;
  width: 24.5%;
  min-height: 56px;
  margin-top: -551px;
  margin-left: 68%;
  color: rgb(0, 0, 0);
}

.text-27 {
  float: left;
  z-index: 44;
  width: 24.5%;
  min-height: 334px;
  margin-top: -479px;
  margin-left: 7.5%;
  color: rgb(0, 0, 0);
}

.text-28 {
  float: left;
  z-index: 45;
  width: 24.5%;
  min-height: 334px;
  margin-top: -479px;
  margin-left: 36.66146%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.text-29 {
  float: left;
  z-index: 46;
  width: 24.5%;
  min-height: 334px;
  margin-top: -481px;
  margin-left: 67.9987%;
  color: rgb(0, 0, 0);
}

.text-3 {
  float: right;
  clear: both;
  z-index: 9;
  width: 22.25%;
  margin-top: 1px;
  margin-right: 71.25%;
  color: rgb(0, 0, 0);
}

.text-30 {
  float: left;
  clear: both;
  z-index: 62;
  width: 34%;
  min-height: 38px;
  margin-top: -741px;
  margin-left: 42.5%;
  color: rgb(255, 255, 255);
}

.text-31 {
  float: left;
  z-index: 63;
  width: 9.5%;
  min-height: 23px;
  margin-top: -455px;
  margin-left: 6.5%;
  color: rgb(0, 0, 0);
}

.text-32 {
  float: left;
  z-index: 7;
  width: 32.25%;
  margin-top: -732px;
  margin-left: 4.14974%;
  color: rgb(0, 0, 0);
}

.text-33 {
  float: left;
  z-index: 57;
  width: 5.0833333333%;
  margin-top: -419px;
  margin-left: 12%;
  color: rgb(255, 255, 255);
}

.text-34 {
  float: left;
  z-index: 8;
  width: 26.2330729166%;
  min-height: 48px;
  margin-top: -637px;
  margin-left: 38.16667%;
  color: rgb(0, 0, 0);
}

.text-35 {
  float: left;
  z-index: 59;
  width: 5%;
  margin-top: -364px;
  margin-left: 12%;
  color: rgb(255, 255, 255);
}

.text-36 {
  float: left;
  z-index: 64;
  width: 32.4166666666%;
  min-height: 32px;
  margin-top: -432px;
  margin-left: 59.08203%;
  color: rgb(255, 255, 255);
}

.text-37 {
  float: left;
  z-index: 5;
  width: 29.7192708333%;
  min-height: 79px;
  margin-top: -487px;
  margin-left: 68.04688%;
  color: rgb(0, 0, 0);
}

.text-38 {
  float: left;
  z-index: 6;
  width: 58.6666666666%;
  margin-top: -186px;
  margin-left: 4.16667%;
  color: rgb(0, 0, 0);
}

.text-4 {
  float: right;
  clear: both;
  z-index: 4;
  width: 22.25%;
  margin-top: -41px;
  margin-right: 38.83724%;
  color: rgb(0, 0, 0);
}

.text-4:hover {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.text-5 {
  float: right;
  clear: both;
  z-index: 5;
  width: 22.25%;
  margin-top: -41px;
  margin-right: 6.5%;
  color: rgb(0, 0, 0);
}

.text-6 {
  float: left;
  clear: both;
  z-index: 12;
  width: 17%;
  margin-top: -575px;
  margin-left: 42.08203%;
  color: rgb(0, 0, 0);
}

.text-7 {
  float: left;
  clear: both;
  z-index: 14;
  width: 19%;
  margin-top: -529px;
  margin-left: 57.08073%;
  color: rgb(0, 0, 0);
}

.text-8 {
  float: left;
  z-index: 15;
  width: 27.5%;
  min-height: 283px;
  margin-top: -463px;
  margin-left: 57.5%;
  color: rgb(0, 0, 0);
}

.text-9 {
  float: left;
  clear: both;
  z-index: 17;
  width: 19%;
  margin-top: -523px;
  margin-left: 8.08073%;
  color: rgb(0, 0, 0);
}

._button-1 {
  position: fixed;
  top: 0;
  left: 86.1588541666%;
  z-index: 72;
  width: 9.08203125%;
  height: 63px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba(0, 0, 0, 0.58);
  font-family: Oswald;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

._button-10 {
  position: relative;
  float: left;
  z-index: 38;
  width: 15.5833333333%;
  height: 50px;
  margin-top: -179px;
  margin-left: 73.5%;
  border-top-left-radius: 51px;
  border-top-right-radius: 51px;
  border-bottom-right-radius: 51px;
  border-bottom-left-radius: 51px;
  background-color: rgb(61, 115, 245);
  color: rgb(0, 0, 0);
}

._button-11 {
  position: fixed;
  top: 0;
  left: 91%;
  z-index: 15;
  width: 9.08203125%;
  height: 63px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(0, 0, 0);
  font-family: Oswald;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

._button-12 {
  position: fixed;
  top: 0;
  left: 81.53515625%;
  z-index: 14;
  width: 9.08203125%;
  height: 63px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(0, 0, 0);
  font-family: Oswald;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

._button-13 {
  position: fixed;
  top: 0;
  left: 72.453125%;
  z-index: 13;
  width: 9.08203125%;
  height: 63px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(0, 0, 0);
  font-family: Oswald;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

._button-14 {
  position: fixed;
  top: 0;
  left: 63.3697916666%;
  z-index: 12;
  width: 9.08203125%;
  height: 63px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(0, 0, 0);
  font-family: Oswald;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

._button-15 {
  position: fixed;
  top: 0;
  left: 54.2877604166%;
  z-index: 11;
  width: 9.08203125%;
  height: 63px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(0, 0, 0);
  font-family: Oswald;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

._button-16 {
  position: fixed;
  top: 0;
  left: 45.20703125%;
  z-index: 10;
  width: 9.08203125%;
  height: 63px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(0, 0, 0);
  font-family: Oswald;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

._button-17 {
  position: relative;
  float: left;
  z-index: 61;
  width: 10.5%;
  height: 39px;
  margin-top: -104px;
  margin-left: 25.5%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(9, 205, 234);
  color: rgb(255, 255, 255);
}

._button-2 {
  position: fixed;
  top: 0;
  left: 77.8268229166%;
  z-index: 71;
  width: 9.08203125%;
  height: 63px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba(0, 0, 0, 0.58);
  font-family: Oswald;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

._button-3 {
  position: fixed;
  top: 0;
  left: 68.7447916666%;
  z-index: 70;
  width: 9.08203125%;
  height: 63px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba(0, 0, 0, 0.58);
  font-family: Oswald;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

._button-4 {
  position: fixed;
  top: 0;
  left: 59.6627604166%;
  z-index: 69;
  width: 9.08203125%;
  height: 63px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba(0, 0, 0, 0.58);
  font-family: Oswald;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

._button-5 {
  position: fixed;
  top: 0;
  left: 50.5807291666%;
  z-index: 68;
  width: 9.08203125%;
  height: 63px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba(0, 0, 0, 0.58);
  font-family: Oswald;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

._button-6 {
  position: fixed;
  top: 0;
  left: 41.5%;
  z-index: 67;
  width: 9.08203125%;
  height: 63px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba(0, 0, 0, 0.58);
  font-family: Oswald;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

._button-7 {
  position: relative;
  float: left;
  z-index: 2;
  width: 17%;
  height: 56px;
  margin-top: -174px;
  margin-left: 6.5%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(9, 205, 234);
  color: rgb(0, 0, 0);
}

._button-8 {
  position: relative;
  float: left;
  z-index: 39;
  width: 15.5833333333%;
  height: 50px;
  margin-top: -179px;
  margin-left: 9.91667%;
  border-top-left-radius: 51px;
  border-top-right-radius: 51px;
  border-bottom-right-radius: 51px;
  border-bottom-left-radius: 51px;
  background-color: rgb(207, 3, 3);
  color: rgb(0, 0, 0);
}

._button-9 {
  position: relative;
  float: left;
  z-index: 37;
  width: 15.5833333333%;
  height: 50px;
  margin-top: -179px;
  margin-left: 43.91667%;
  border-top-left-radius: 51px;
  border-top-right-radius: 51px;
  border-bottom-right-radius: 51px;
  border-bottom-left-radius: 51px;
  background-color: rgb(16, 181, 40);
  color: rgb(0, 0, 0);
}

._input-1 {
  z-index: 56;
  height: 32px;
  margin-top: -429px;
}

._input-2 {
  z-index: 58;
  height: 32px;
  margin-top: -369px;
}

._input-3 {
  z-index: 60;
  height: 193px;
  margin-top: -312px;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 span {
  font-family: 'Roboto Condensed';
  font-style: inherit;
  font-size: inherit;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.text-1 strong {
  font-family: Oswald;
  font-style: inherit;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.text-11 strong,
.text-7 strong,
.text-9 strong {
  font-family: inherit;
  font-style: inherit;
  font-size: 1.25em;
  font-weight: inherit;
  color: inherit;
}

.text-10 span,
.text-12 span,
.text-8 span {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-size: 1.875em;
  font-weight: 700;
  color: inherit;
}

.text-2 strong {
  font-family: Montserrat;
  font-style: normal;
  font-size: 1.75em;
  font-weight: 700;
  color: inherit;
}

.text-16 strong,
.text-17 strong,
.text-21 strong {
  font-family: inherit;
  font-style: inherit;
  font-size: 2.5em;
  font-weight: inherit;
  color: inherit;
}

.text-13 strong,
.text-14 strong,
.text-15 strong,
.text-20 strong,
.text-23 strong,
.text-5 strong {
  font-family: Oswald;
  font-style: normal;
  font-size: 1.875em;
  font-weight: 700;
  color: inherit;
}

.text-24 span,
.text-25 span,
.text-26 span {
  font-family: Oswald;
  font-style: normal;
  font-size: 1.25em;
  font-weight: 300;
  color: inherit;
}

.text-30 strong {
  font-family: inherit;
  font-style: inherit;
  font-size: 1.875em;
  font-weight: inherit;
  color: inherit;
}

.text-18 span,
.text-19 span,
.text-22 span,
.text-32 span {
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.text-32 strong {
  font-family: Oswald;
  font-style: inherit;
  font-size: inherit;
  font-weight: 700;
  color: inherit;
}

.text-37 strong,
.text-38 span,
.text-38 strong {
  font-family: Oswald;
  font-style: normal;
  font-size: inherit;
  font-weight: 700;
  color: inherit;
}

.text-3 strong,
.text-4 strong {
  font-family: Oswald;
  font-style: normal;
  font-size: 1.875em;
  font-weight: 700;
  color: inherit;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}

.text-3 strong:hover,
.text-4 strong:hover {
  font-size: NaNem;
}

.text-6 strong {
  font-family: Montserrat;
  font-style: normal;
  font-size: 1.625em;
  font-weight: inherit;
  color: inherit;
}

@media(max-width: 909px) {
  body {
    font-size: 1em;
  }

  .image {
    position: relative;
    height: auto;
  }

  ._input {
    position: relative;
    margin-left: 17.07921%;
  }

  .element-10 {
    position: relative;
    z-index: 20;
  }

  .element-11 {
    position: relative;
    z-index: 21;
  }

  .element-12 {
    position: relative;
    z-index: 24;
  }

  .element-13 {
    position: relative;
    z-index: 25;
    width: 26.5126512651%;
    margin-left: 6.4906499999%;
  }

  .element-14 {
    position: relative;
    z-index: 26;
    margin-left: 40.4995199999%;
  }

  .element-15 {
    position: relative;
    z-index: 27;
    margin-left: 69.99966%;
  }

  .element-16 {
    position: relative;
    z-index: 40;
  }

  .element-17 {
    position: relative;
    z-index: 41;
    margin-left: 7.49966%;
  }

  .element-18 {
    position: relative;
    z-index: 42;
    margin-left: 36.66117%;
  }

  .element-19 {
    position: relative;
    z-index: 43;
    margin-left: 67.99883%;
  }

  .element-2 {
    position: relative;
    z-index: 7;
    margin-left: 6.49581%;
  }

  .element-21 {
    position: relative;
    z-index: 51;
  }

  .element-3 {
    position: relative;
    z-index: 6;
    margin-left: 10.16055%;
  }

  .element-4 {
    position: relative;
    z-index: 8;
    margin-left: 10.0832%;
  }

  .element-5 {
    position: relative;
    z-index: 10;
    margin-top: 88px;
    margin-left: -0.49849%;
  }

  .element-6 {
    position: relative;
    z-index: 11;
  }

  .element-7 {
    position: relative;
    z-index: 13;
  }

  .element-8 {
    position: relative;
    z-index: 16;
    margin-left: 0;
  }

  .element-9 {
    position: relative;
    z-index: 19;
  }

  .image-1 {
    z-index: 0;
  }

  .image-2 {
    z-index: 52;
    margin-left: 6.49581%;
  }

  .image-3 {
    z-index: 53;
    margin-left: 31.99945%;
  }

  .image-4 {
    z-index: 54;
    margin-left: 57.49966%;
  }

  .image-5 {
    z-index: 55;
    margin-left: 82.99986%;
  }

  .text-1 {
    position: relative;
    z-index: 1;
    margin-left: 6.49581%;
  }

  .text-10 {
    position: relative;
    z-index: 18;
    margin-left: 8.0755%;
  }

  .text-11 {
    position: relative;
    z-index: 22;
    margin-left: 57.49966%;
  }

  .text-12 {
    position: relative;
    z-index: 23;
    margin-left: 57.49966%;
  }

  .text-13 {
    position: relative;
    z-index: 66;
    margin-left: 48.99959%;
  }

  .text-14 {
    position: relative;
    z-index: 28;
    width: 26.5126512651%;
    margin-left: 6.4906499999%;
  }

  .text-15 {
    position: relative;
    z-index: 33;
    margin-left: 40.4995199999%;
  }

  .text-16 {
    position: relative;
    z-index: 30;
    margin-left: 13.65512%;
  }

  .text-17 {
    position: relative;
    z-index: 31;
    margin-left: 47.74993%;
  }

  .text-18 {
    position: relative;
    z-index: 34;
    margin-left: 8.49835%;
  }

  .text-19 {
    position: relative;
    z-index: 35;
    margin-left: 42.49691%;
  }

  .text-2 {
    position: relative;
    z-index: 3;
    margin-left: 40.99801%;
  }

  .text-20 {
    position: relative;
    z-index: 29;
    margin-left: 69.99966%;
  }

  .text-21 {
    position: relative;
    z-index: 32;
    margin-left: 78.4980099999%;
  }

  .text-22 {
    position: relative;
    z-index: 36;
    margin-left: 72.1655%;
  }

  .text-23 {
    position: relative;
    z-index: 47;
    margin-left: 46.9936099999%;
  }

  .text-24 {
    position: relative;
    z-index: 49;
    margin-left: 7.49966%;
  }

  .text-25 {
    position: relative;
    z-index: 48;
    margin-left: 36.66117%;
  }

  .text-26 {
    position: relative;
    z-index: 50;
    margin-left: 67.99883%;
  }

  .text-27 {
    position: relative;
    z-index: 44;
    margin-left: 7.49966%;
  }

  .text-28 {
    position: relative;
    z-index: 45;
    margin-left: 36.66117%;
  }

  .text-29 {
    position: relative;
    z-index: 46;
    margin-left: 67.99539%;
  }

  .text-3 {
    position: relative;
    z-index: 9;
    margin-right: 71.24931%;
  }

  .text-30 {
    position: relative;
    z-index: 62;
    margin-left: 42.49691%;
  }

  .text-31 {
    position: relative;
    z-index: 63;
    margin-left: 6.49581%;
  }

  .text-33 {
    position: relative;
    z-index: 57;
    margin-left: 11.99636%;
  }

  .text-35 {
    position: relative;
    z-index: 59;
    margin-left: 11.99636%;
  }

  .text-36 {
    position: relative;
    z-index: 64;
    margin-left: 59.07935%;
  }

  .text-4 {
    position: relative;
    z-index: 4;
    width: 27.0627062706%;
    margin-right: 33.9934%;
  }

  .text-5 {
    position: relative;
    z-index: 5;
    margin-right: 6.5095599999%;
  }

  .text-6 {
    position: relative;
    z-index: 12;
    margin-left: 42.08093%;
  }

  .text-7 {
    position: relative;
    z-index: 14;
    margin-left: 57.08024%;
  }

  .text-8 {
    position: relative;
    z-index: 15;
    margin-left: 57.49966%;
  }

  .text-9 {
    position: relative;
    z-index: 17;
    margin-left: 8.0755%;
  }

  ._button-1 {
    left: 89.0814081408%;
  }

  ._button-10 {
    position: relative;
    z-index: 38;
    margin-left: 73.49938%;
  }

  ._button-17 {
    position: relative;
    z-index: 61;
    margin-left: 25.49849%;
  }

  ._button-2 {
    left: 77.7777777777%;
    width: 9.5709570957%;
  }

  ._button-7 {
    position: relative;
    z-index: 2;
    margin-top: -133px;
    margin-left: 6.49581%;
  }

  ._button-8 {
    position: relative;
    z-index: 39;
    margin-left: 9.91646%;
  }

  ._button-9 {
    position: relative;
    z-index: 37;
    margin-left: 43.91502%;
  }

  ._input-1 {
    z-index: 56;
  }

  ._input-2 {
    z-index: 58;
  }

  ._input-3 {
    z-index: 60;
  }

  .text-3 strong,
  .text-4 strong {
    font-size: 1.875em;
  }
}

@media(max-width: 852px) {
  body {
    font-size: 1em;
  }

  .image {
    position: relative;
    height: auto;
  }

  ._input {
    position: relative;
    margin-left: 17.0738%;
  }

  .element-10 {
    position: relative;
    clear: both;
    z-index: 20;
  }

  .element-11 {
    position: relative;
    z-index: 21;
  }

  .element-12 {
    position: relative;
    clear: both;
    z-index: 24;
  }

  .element-13 {
    position: relative;
    z-index: 25;
    margin-left: 6.48841%;
  }

  .element-14 {
    position: relative;
    z-index: 26;
    margin-left: 40.49846%;
  }

  .element-15 {
    position: relative;
    z-index: 27;
    margin-left: 69.9989%;
  }

  .element-16 {
    position: relative;
    z-index: 40;
  }

  .element-17 {
    position: relative;
    z-index: 41;
    margin-left: 7.4989%;
  }

  .element-18 {
    position: relative;
    z-index: 42;
    margin-left: 36.65823%;
  }

  .element-19 {
    position: relative;
    z-index: 43;
    margin-left: 67.99809%;
  }

  .element-2 {
    position: relative;
    z-index: 7;
    margin-top: 47px;
    margin-left: 6.49575%;
  }

  .element-21 {
    position: relative;
    z-index: 51;
  }

  .element-3 {
    position: relative;
    z-index: 6;
    margin-top: 47px;
    margin-left: 10.15992%;
  }

  .element-4 {
    position: relative;
    z-index: 8;
    margin-top: 47px;
    margin-left: 10.08106%;
  }

  .element-5 {
    position: relative;
    z-index: 10;
    margin-left: -0.49516%;
  }

  .element-6 {
    position: relative;
    z-index: 11;
  }

  .element-7 {
    position: relative;
    z-index: 13;
  }

  .element-8 {
    position: relative;
    clear: both;
    z-index: 16;
  }

  .element-9 {
    position: relative;
    z-index: 19;
    margin-top: -498px;
    margin-left: 14.42562%;
  }

  .image-1 {
    z-index: 0;
  }

  .image-2 {
    z-index: 52;
    margin-left: 6.49575%;
  }

  .image-3 {
    z-index: 53;
    margin-left: 31.99824%;
  }

  .image-4 {
    z-index: 54;
    margin-left: 57.4989%;
  }

  .image-5 {
    z-index: 55;
    margin-left: 82.99956%;
  }

  .text-1 {
    position: relative;
    z-index: 1;
    margin-top: -291px;
    margin-left: 5.32204%;
  }

  .text-10 {
    position: relative;
    z-index: 18;
    margin-left: 8.07292%;
  }

  .text-11 {
    position: relative;
    z-index: 22;
    margin-left: 57.4989%;
  }

  .text-12 {
    position: relative;
    z-index: 23;
    margin-left: 57.4989%;
  }

  .text-13 {
    position: relative;
    z-index: 66;
    margin-left: 46.78514%;
  }

  .text-14 {
    position: relative;
    z-index: 28;
    margin-left: 6.48841%;
  }

  .text-15 {
    position: relative;
    z-index: 33;
    margin-left: 40.49846%;
    text-align: justify;
  }

  .text-16 {
    position: relative;
    z-index: 30;
    margin-left: 13.65354%;
  }

  .text-17 {
    position: relative;
    z-index: 31;
    margin-left: 44.57343%;
    text-align: center;
  }

  .text-18 {
    position: relative;
    z-index: 34;
    margin-left: 8.4947199999%;
  }

  .text-19 {
    position: relative;
    z-index: 35;
    margin-left: 42.4956%;
  }

  .text-2 {
    position: relative;
    z-index: 3;
    margin-top: 120px;
    margin-left: 36.65823%;
  }

  .text-20 {
    position: relative;
    z-index: 29;
    margin-left: 69.9989%;
  }

  .text-21 {
    position: relative;
    z-index: 32;
    margin-left: 78.49729%;
  }

  .text-22 {
    position: relative;
    z-index: 36;
    margin-left: 72.16293%;
  }

  .text-23 {
    position: relative;
    z-index: 47;
    margin-top: -1109px;
    margin-left: 42.49927%;
  }

  .text-24 {
    position: relative;
    z-index: 49;
    margin-left: 7.4989%;
  }

  .text-25 {
    position: relative;
    z-index: 48;
    margin-left: 36.65823%;
  }

  .text-26 {
    position: relative;
    z-index: 50;
    margin-left: 67.99809%;
  }

  .text-27 {
    position: relative;
    z-index: 44;
    margin-left: 7.4989%;
  }

  .text-28 {
    position: relative;
    z-index: 45;
    margin-left: 36.65823%;
  }

  .text-29 {
    position: relative;
    z-index: 46;
    margin-left: 67.99442%;
  }

  .text-3 {
    position: relative;
    z-index: 9;
    margin-right: 71.2478%;
  }

  .text-30 {
    position: relative;
    z-index: 62;
    margin-left: 42.4956%;
  }

  .text-31 {
    position: relative;
    z-index: 63;
    margin-left: 6.49575%;
  }

  .text-33 {
    position: relative;
    z-index: 57;
    margin-top: -429px;
    margin-left: 10.99802%;
  }

  .text-35 {
    position: relative;
    z-index: 59;
    margin-top: -369px;
    margin-left: 10.99802%;
  }

  .text-36 {
    position: relative;
    z-index: 64;
    margin-left: 59.07607%;
  }

  .text-4 {
    position: relative;
    z-index: 4;
    margin-right: 33.99171%;
  }

  .text-5 {
    position: relative;
    z-index: 5;
    margin-right: 6.50675%;
  }

  .text-6 {
    position: relative;
    z-index: 12;
    margin-left: 42.0793%;
  }

  .text-7 {
    position: relative;
    z-index: 14;
    margin-left: 57.07893%;
  }

  .text-8 {
    position: relative;
    z-index: 15;
    margin-left: 57.4989%;
  }

  .text-9 {
    position: relative;
    z-index: 17;
    margin-left: 8.07292%;
  }

  ._button-10 {
    position: relative;
    z-index: 38;
    margin-left: 73.49619%;
  }

  ._button-17 {
    position: relative;
    z-index: 61;
    margin-left: 25.49516%;
  }

  ._button-2 {
    left: 77.8169014084%;
    width: 10.3286384976%;
  }

  ._button-7 {
    position: relative;
    z-index: 2;
    margin-top: -74px;
    margin-left: 6.50125%;
  }

  ._button-8 {
    position: relative;
    z-index: 39;
    margin-left: 9.91601%;
  }

  ._button-9 {
    position: relative;
    z-index: 37;
    margin-left: 43.91322%;
  }

  ._input-1 {
    z-index: 56;
  }

  ._input-2 {
    z-index: 58;
  }

  ._input-3 {
    z-index: 60;
  }
}